<aside class="subscription text-center">
  <div class="container">
    <h3 class="service-heading">Get notified when notebooks are exhibited!</h3>
    <p class="col-sm-6 col-sm-offset-3">The project is already in the development phase. In near feature, notebooks will be exhibited at certain places and dates. Leave your email in order to be informed about the exhibition.<p>
    <div id="subscribe" class="subscribe">
      <form action="http://kulu.us1.list-manage1.com/subscribe/post" method="post" id="subscribe-form" name="subscribe-form" target="_blank" novalidate="">
        <input type="hidden" name="u" value="b4cab138316e3ce36eec50df8">
        <input type="hidden" name="id" value="083c158cc9">
        <div>
          <div id="subscribe-form-responses" class="clear"></div>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input type="email" class="form-control" placeholder="Email" id="subscribe-form-EMAIL" autocapitalize="off" autocorrect="off" name="EMAIL">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" name="subscribe" id="subscribe-form-btn" data-loading-text="Sending...">Get notified!</button>
            </span>
          </div>
          <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_471366319d161564cc41634cc_a81b19d841" tabindex="-1" value="" />
          </div>
        </div>
      </form>
    </div>
  </div>
</aside>
