<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li>
          <a class="page-scroll" href="#notebook">Notebooks</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <!--<div class="intro-overlay"></div>-->
    <div class="container relative">
      <h1 class="brand-heading">trash
        <br />
        <small>/træʃ/</small>
      </h1>
      <h2>noun</h2>
      <ol class="lead">
        <li>anything worthless, useless, or discarded; rubbish.</li>
        <li>foolish or pointless ideas, talk, or writing; nonsense.</li>
        <li>a worthless or disreputable person.</li>
      </ol>
    </div>
  </div>
</header>
