<!-- About Section -->
<section id="about" class="">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h2 class="section-heading">About</h2>
        <h3 class="section-subheading text-muted">An Art Project: Handmade notebooks from discarded papers</h3>
        <p class="lead text-left">Refuse is a part of people’s consumption practices. It is a very common concept from rural areas to developed cities, from ancient societies to modern ones. It is not wanted, thrown away, kept away. It is considered as useless and disgusting. Contrary to the common approach "one man's trash is another man's treasure".</p>
        <p class="lead text-left">With the collaboration of many people discarded papers, packages are collected from different places. This time they are not thrown away. They are collected and saved. Later they are transformed to notebooks by hand with traditional methods. Juxtaposition of trashes create notebooks that are different than the blank industrial ones, and through them challenged the widespread understanding of trash. <a onclick="$('#aboutDetails').slideToggle(); $(this).fadeOut(); return false;">Read more...</a><p>
        <div id="aboutDetails" style="display: none">
          <!--<p class="lead text-left">Notebooks are given away in an alternative way </p>-->
          <p class="lead text-left">Through this project, I put all my effort to re-imagine, re-consider and re-think the trash. This project aims to find new potentials on trash (or through trash) in every dimension by examining its both visual value and social meaning.</p>
          <p class="lead text-left">The purpose is not to build an object that is produced from discarded material in order to watch it from distance. The important thing is to interact with it. It is already discarded and general behavior is to avoid from it. This work must change it. It must call the viewer to interact with it. In other words, trash must be accepted by them. This project asks people to readmit the trash to the their life. For this reason notebooks are given away free at various places where people visit frequently. By doing that once thrown materials would find a place with new purposes in the community.</p>
          <p class="lead text-left">This project is started as a hobby and later turned to <abbr title="Master of Fine Arts">MFA</abbr> <a href="https://dl.dropboxusercontent.com/u/8737486/staticFileServer/Thesis_Compressed_TransformingTrash.pdf" target="_blank" alt="transforming trash thesis" title="Open thesis pdf">thesis <i class="fa fa-external-link fa-fw"></i></a> project. Currently I am looking new places to give away notebooks.</p>
          <p class="text-left">Mustafa ilhan<br />April 2016, Ankara</p>
        </div>
        <button type="button" id="collaboratorsButton" class="btn btn-default track" data-toggle="modal" data-target="#modalCollaborators">List of Collaborators</button>
      </div>
    </div>
  </div>
</section>
