<!-- About Section -->
<section id="about" class="">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h2 class="section-heading">About</h2>
        <h3 class="section-subheading text-muted">An Art Project: Handmade notebooks from discarded papers</h3>
        <p class="lead text-left">Refuse is a part of people’s consumption practices. It is a very common concept from developed cities to rural areas, from modern societies to ancient societies. It is not wanted, thrown away, kept away. It is considered as useless and disgusting. Contrary to the common approach as Michael Thompson, author of Rubbish Theory, stated "one man's trash is another man's treasure".</p>
        <p class="lead text-left">With the collaboration of many people discarded papers, packages are collected from different places. This time it is not thrown away, it is collected and saved. Later they are transformed to notebooks by hand with traditional methods. Juxtaposition of trashes create notebooks that are different than the blank industrial ones, and through them challenged the widespread understanding of trash.<p>
        <button type="button" id="collaboratorsButton" class="btn btn-default track" data-toggle="modal" data-target="#modalCollaborators">List of Collaborators</button>
      </div>
    </div>
  </div>
</section>
