    <!-- Download Section -->
    <section id="seperator" class="text-center">
        <div class="seperator-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>A Title</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Some Action</a>
                </div>
            </div>
        </div>
    </section>
